/*** HEADER ***/
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1250px;
        margin: 0 2% 0 2%;
    }
}
    
#header_site_menu {
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 216px;
    height: 14px;
}

.header_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#openBtn,
#closeBtn {
    cursor: pointer;
    position: absolute;
    margin-top: 4px;
    left: 87%;
    display: none;
}

#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    font-size: 16px;
    padding-left: 0px;
}

#menu-header > li {
    list-style-type: none;
}

#menu-header > li:hover {
    font-weight: bold;
}

#menu-header > li > a {
    text-decoration: none;
    color: black;
}

@media (max-width: 600px) {
    #menu-header {
        gap: 30px;
        font-size: calc(0.5rem + 1vw);
    }
    .logo img {
        width: 200px;
        height: 13px;
    }
}


@media (max-width: 560px) {
    #menu-header {
        gap: 16px;
    }
    .logo img {
        width: 184px;
        height: 12px;
    }
}


@media (max-width: 500px) {
    #menu-header {
        gap: 12px;
    }
    .logo img {
        width: 168px;
        height: 11px;
    }
}


@media (max-width: 470px) {
    #menu-header {
        gap: 11px;
    }
    .logo img {
        width: 152px;
        height: 11px;
    }
}


@media (max-width: 430px) {
    #menu-header {
        gap: 8px;
    }
    .logo img {
        width: 138px;
        height: 10px;
    }
}


@media (max-width: 390px) {
    #menu-header {
        gap: 6px;
    }
    .logo img {
        width: 138px;
        height: 9px;
    }
}


@media (max-width: 375px) {
    .logo img {
        width: 138px;
        height: 9px;
    }
    .header_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 80px;
        right: -375px;
        height: 100vh;
        width: 100%;
        background-color: $primary-color;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.4s ease, opacity 0.4s ease;
        z-index: 9999;
    }
    .header_menu.active {
        right: 0;
        transform: translateX(0);
        opacity: 1;
    }
    .header_menu.active-closing {
        right: 0;
        transform: translateX(100%);
        opacity: 0;
    }
    #menu-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    #menu-header li {
        padding: 20px 0;
    }
    #menu-header li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    #menu-header li a:hover {
        transform: scale(1.5) !important;
        transition: transform 0.2s, filter 0.2s !important;
    }
    #openBtn, #closeBtn {
        position: absolute;
        z-index: 9999;
        cursor: pointer;
    }
    #closeBtn {
        display: none;
    }
    .header_menu.active #openBtn {
        display: none;
    }
    .header_menu.active #closeBtn {
        display: block;
    }
}
