/*** GOOGLE FONTS ***/

@font-face {
    font-family: 'Space Mono BoldItalic';
    src: url('../assets/fonts/space_mono/SpaceMono-BoldItalic.woff2') format("woff2");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../assets/fonts/space_mono/SpaceMono-Regular.woff2') format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins/Poppins-Light.woff2') format("woff2");
    font-style: normal;
    font-weight: 300;
}


/*** VARIABLES COULEURS ***/

$primary-color : #E00000;
$secondary-color : #FE5858;
$third-color : #FFD6D6;
$text-color : #000000;
$modale-text-color : #313144;
$border-color : #B8B8C2;
$button-background-color : #D8D8D8;

/*** GENERAL ***/

* {
    font-family: 'Space Mono', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

#wpadminbar {
    position: fixed;
    width: 100%;
    z-index: 8999;
    max-height: 32px;
    font-size: calc(0.5rem + 1vw);
    top: 0;
    left: 0;
    right: 0;
}

.current-menu-item a {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

h2 > p {
    display: flex;
    text-align: justify;
}


/*** HEADER ***/
@import "stylesSass/_header";


/*** FOOTER ***/
@import "stylesSass/_footer";


/*** BANNER ***/
@import "stylesSass/_banner";


/*** FILTERS ***/
@import "stylesSass/_filters";


/*** GALLERY PHOTOS ***/
@import "stylesSass/_gallery_photos";


/*** CONTACT MODALE ***/
@import "stylesSass/_contact_modale";


/*** SINGLE-PHOTOS ***/
@import "stylesSass/_single_photos";


/*** TEMPLATE PHOTO_BLOCK ***/
@import "stylesSass/_photo_block";


/*** LIGHTBOX ***/
@import "stylesSass/_lightbox";