/*** GOOGLE FONTS ***/
@font-face {
  font-family: "Space Mono BoldItalic";
  src: url("../assets/fonts/space_mono/SpaceMono-BoldItalic.woff2") format("woff2");
  font-style: bolditalic;
  font-weight: 700;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/space_mono/SpaceMono-Regular.woff2") format("woff2");
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins/Poppins-Light.woff2") format("woff2");
  font-style: light;
  font-weight: 300;
}
/*** VARIABLES COULEURS ***/
/*** GENERAL ***/
* {
  font-family: "Space Mono", sans-serif;
}

body {
  width: 100%;
  height: auto;
  margin: 0px;
}

#wpadminbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

#page {
  width: 100%;
  height: auto;
}

.current-menu-item a {
  font-weight: bold;
}

/*** HEADER ***/
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo img {
  width: 216px;
  height: 14px;
}
header .navbar .header-site-menu {
  width: 100vw;
  display: flex;
}
header .navbar #openBtn,
header .navbar #closeBtn {
  cursor: pointer;
  position: absolute;
  margin-top: 4px;
  left: 87%;
  display: none;
}

#menu-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 50px;
  font-size: 16px;
  padding-left: 0px;
}
#menu-header > li {
  list-style-type: none;
}
#menu-header > li :hover {
  font-weight: bold;
}
#menu-header > li > a {
  text-decoration: none;
  color: black;
}

@media (max-width: 700px) {
  #menu-header {
    gap: 30px;
    font-size: calc(0.5rem + 1vw);
  }
  header .navbar .logo img {
    width: 200px;
    height: 13px;
  }
}
@media (max-width: 600px) {
  #menu-header {
    gap: 20px;
  }
}
@media (max-width: 560px) {
  #menu-header {
    gap: 16px;
  }
  header .navbar .logo img {
    width: 184px;
    height: 12px;
  }
}
@media (max-width: 500px) {
  #menu-header {
    gap: 12px;
  }
  header .navbar .logo img {
    width: 168px;
    height: 11px;
  }
}
@media (max-width: 470px) {
  #menu-header {
    gap: 11px;
  }
  header .navbar .logo img {
    width: 152px;
    height: 11px;
  }
}
@media (max-width: 430px) {
  #menu-header {
    gap: 8px;
  }
  header .navbar .logo img {
    width: 138px;
    height: 10px;
  }
}
@media (max-width: 390px) {
  #menu-header {
    gap: 6px;
  }
  header .navbar .logo img {
    width: 138px;
    height: 9px;
  }
}
@media (max-width: 375px) {
  header .navbar .logo img {
    width: 138px;
    height: 9px;
  }
  header .navbar #openBtn {
    display: block;
  }
  .header-site-menu {
    display: none;
  }
  .header-site-menu.active {
    display: block;
  }
  #closeBtn {
    display: none;
  }
  .header-site-menu.active ~ #closeBtn {
    display: block;
  }
  .header-site-menu.active ~ #openBtn {
    display: none;
  }
  #menu-header {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 60px;
    width: 100%;
    height: 80vh;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E00000;
    font-size: 44px;
  }
  #menu-header > li > a {
    color: white;
  }
}
/*** FOOTER ***/
.footer_site_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  border-top: 1px black solid;
}

#menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 6%;
  font-size: 16px;
  padding-left: 0px;
}
#menu-footer > li {
  list-style-type: none;
}
#menu-footer > li :hover {
  font-weight: bold;
}
#menu-footer > li > a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 750px) {
  #menu-footer {
    font-size: calc(0.3rem + 1.4vw);
  }
}
@media (max-width: 375px) {
  #menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding-top: 160px;
  }
  #menu-footer > li {
    padding-bottom: 25px;
  }
}
/*** BANNER ***/
.banner {
  position: relative;
  width: 100vw;
  height: 962px;
  overflow: hidden;
}
.banner .background_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.banner h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Space Mono BoldItalic";
  font-size: 96px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 90px;
  }
}
@media (max-width: 970px) {
  .banner h1 {
    font-size: 86px;
  }
}
@media (max-width: 900px) {
  .banner h1 {
    font-size: 80px;
  }
}
@media (max-width: 850px) {
  .banner h1 {
    font-size: 70px;
    -webkit-text-stroke: 1.5px white;
  }
}
@media (max-width: 750px) {
  .banner h1 {
    font-size: 60px;
  }
}
@media (max-width: 650px) {
  .banner h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px white;
  }
}
@media (max-width: 550px) {
  .banner h1 {
    font-size: 40px;
  }
}
@media (max-width: 450px) {
  .banner h1 {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .banner h1 {
    font-size: 32px;
  }
}
@media (max-width: 375px) {
  .banner h1 {
    font-size: 28px;
  }
}
/*** CONTACT MODALE ***/
.modale-overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  max-width: 600px;
  height: auto;
  max-height: 95%;
  margin-top: 10px;
  overflow-y: auto;
  background-color: white;
  border: 5px solid black;
}
.modale-overlay .modale-global {
  position: relative;
  width: 100%;
  display: inline-block;
}
.modale-overlay .modale-global .modale-header {
  position: relative;
}
.modale-overlay .modale-global .modale-header .closeBtn {
  position: absolute;
  right: 0px;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.modale-overlay .modale-global .modale-header .img_contact_modale {
  height: 106px;
  width: 100%;
  padding-top: 12px;
}
.modale-overlay .modale-global .modale {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modale-overlay.open {
  display: block;
  z-index: 3;
}

.wpcf7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wpcf7 .wpcf7-form {
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.wpcf7 .wpcf7-form p {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wpcf7 .wpcf7-form label {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  color: #313144;
  width: auto !important;
  display: inline-block !important;
}
.wpcf7 .wpcf7-form .wpcf7-submit {
  font-size: 12px;
  border-color: #D8D8D8;
  background-color: #D8D8D8;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  max-width: 340px !important;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.wpcf7 .wpcf7-form .wpcf7-submit:hover {
  background-color: #000000;
  color: white;
}

.wpcf7-form-control-wrap .wpcf7-form-control {
  border: 1px solid #B8BBC2;
  border-radius: 5px;
  width: 100% !important;
  box-sizing: border-box;
}

.wpcf7-form-control-wrap .wpcf7-text,
.wpcf7-form-control-wrap .wpcf7-textarea {
  height: 40px;
  width: 100% !important;
}

.wpcf7-form-control-wrap .wpcf7-textarea {
  height: 210px;
}

/*** SINGLE-PHOTOS ***/
.single-photos {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}
.single-photos .single-photos-part-one {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}
.single-photos .single-photos-part-one .photo-meta {
  width: 50%;
  order: 1;
  display: flex;
  flex-direction: column;
  padding-top: 390px;
  border-bottom: 1px solid black;
}
.single-photos .single-photos-part-one .photo-image {
  width: 50%;
  order: 2;
}
.single-photos .single-photos-part-one .photo-image img {
  width: 100%;
  max-width: 100%;
  height: 844px;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-photos .single-photos-part-two {
  width: 100%;
  height: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  border-bottom: 1px solid black;
}
.single-photos .single-photos-part-two .single-photos-contact-button {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.single-photos .single-photos-part-two .single-photos-contact-button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
.single-photos .single-photos-part-two .single-photos-contact-button button {
  width: 17vw;
  height: 50px;
  border-radius: 4px;
  background-color: #D8D8D8;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.single-photos .single-photos-part-two .single-photos-contact-button button:hover {
  background-color: #000000;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
  color: white;
}
.single-photos .single-photos-part-two .single-contact-photo {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.single-photos .single-photos-part-two .single-contact-photo .thumbnail-photo img {
  width: 81px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-photos .single-photos-part-two .single-contact-photo .arrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.single-photos .single-photos-part-two .single-contact-photo .arrows :hover {
  font-weight: bold;
}
.single-photos .single-photos-part-two .single-contact-photo .arrows img {
  margin: 0 10px;
}
.single-photos .single-photos-part-three {
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.single-photos .single-photos-part-three h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 40px 0px 40px 0px;
}
.single-photos .single-photos-part-three .photos-apparentees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}
.single-photos .single-photos-part-three .photos-apparentees img {
  width: 49%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 375px) {
  .single-photos .single-photos-part-one {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .single-photos .single-photos-part-one .photo-meta,
  .single-photos .single-photos-part-one .photo-image {
    width: 100%;
  }
  .single-photos .single-photos-part-one .photo-meta {
    order: 2;
    padding-top: 10px;
  }
  .single-photos .single-photos-part-one .photo-image {
    order: 1;
  }
  .single-photos .single-photos-part-one .photo-image img {
    width: 265px;
    height: 397px;
  }
  .single-photos .single-photos-part-two {
    width: 100%;
    padding: 10px 0px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .single-photos .single-photos-part-two .single-photos-contact-button {
    width: 263px;
    display: flex;
    flex-direction: column;
  }
  .single-photos .single-photos-part-two .single-photos-contact-button p {
    align-self: flex-start;
  }
  .single-photos .single-photos-part-two .single-photos-contact-button button {
    margin-top: 16px;
    width: 263px;
    height: 50px;
  }
  .single-photos .single-photos-part-two .single-contact-photo {
    display: none;
  }
  .single-photos .single-photos-part-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .single-photos .single-photos-part-three h3 {
    padding: 12px 0px 12px 0px;
  }
  .single-photos .single-photos-part-three .photos-apparentees {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
  }
  .single-photos .single-photos-part-three .photos-apparentees img {
    width: 317px;
    height: 278px;
  }
}/*# sourceMappingURL=theme.css.map */