/*** GOOGLE FONTS ***/
@font-face {
  font-family: "Space Mono BoldItalic";
  src: url("../assets/fonts/space_mono/SpaceMono-BoldItalic.woff2") format("woff2");
  font-style: bolditalic;
  font-weight: 700;
}
@font-face {
  font-family: "Space Mono";
  src: url("../assets/fonts/space_mono/SpaceMono-Regular.woff2") format("woff2");
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins/Poppins-Light.woff2") format("woff2");
  font-style: light;
  font-weight: 300;
}
/*** GENERAL ***/
* {
  font-family: "Space Mono", sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0px;
}

#page {
  width: 100%;
  height: auto;
}

.current-menu-item a {
  font-weight: bold;
}

/*** HEADER ***/
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}
header .navbar .logo img {
  width: 216px;
  height: 14px;
}
header .navbar .header-site-menu {
  width: 100vw;
  display: flex;
}
header .navbar #openBtn,
header .navbar #closeBtn {
  cursor: pointer;
  position: absolute;
  margin-top: 4px;
  left: 87%;
  display: none;
}

#menu-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 50px;
  font-size: 16px;
  padding-left: 0px;
}
#menu-header > li {
  list-style-type: none;
}
#menu-header > li :hover {
  font-weight: bold;
}
#menu-header > li > a {
  text-decoration: none;
  color: black;
}

@media (max-width: 700px) {
  #menu-header {
    gap: 30px;
    font-size: calc(0.5rem + 1.5vw);
  }
  header .navbar .logo img {
    width: 200px;
    height: 13px;
  }
}
@media (max-width: 600px) {
  #menu-header {
    gap: 20px;
  }
}
@media (max-width: 550px) {
  #menu-header {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: calc(0.5rem + 1.5vw);
  }
  header .navbar .logo img {
    width: 184px;
    height: 12px;
  }
}
@media (max-width: 450px) {
  header .navbar .logo img {
    width: 168px;
    height: 11px;
  }
}
@media (max-width: 375px) {
  header .navbar .logo img {
    width: 138px;
    height: 9px;
  }
  header .navbar #openBtn {
    display: block;
  }
  .header-site-menu {
    display: none;
  }
  .header-site-menu.active {
    display: block;
  }
  #closeBtn {
    display: none;
  }
  .header-site-menu.active ~ #closeBtn {
    display: block;
  }
  .header-site-menu.active ~ #openBtn {
    display: none;
  }
  #menu-header {
    display: flex;
    position: fixed;
    top: 60px;
    width: 100%;
    height: 80vh;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E00000;
    font-size: 44px;
  }
  #menu-header > li > a {
    color: white;
  }
}
/*** FOOTER ***/
.footer_site_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40px;
  border-top: 1px black solid;
}

#menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 6%;
  font-size: 16px;
  padding-left: 0px;
}
#menu-footer > li {
  list-style-type: none;
}
#menu-footer > li :hover {
  font-weight: bold;
}
#menu-footer > li > a {
  text-decoration: none;
  color: black;
}

@media (max-width: 750px) {
  #menu-footer {
    font-size: calc(0.3rem + 1.4vw);
  }
}
@media (max-width: 375px) {
  #menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding-top: 160px;
  }
  #menu-footer > li {
    padding-bottom: 25px;
  }
}
/*** BANNER ***/
.banner {
  position: relative;
  width: 100%;
  height: 962px;
  overflow: hidden;
}
.banner .background_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.banner h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Space Mono BoldItalic";
  font-size: 96px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: transparent;
}/*# sourceMappingURL=theme.css.map */